@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&family=Work+Sans:wght@300;400&display=swap");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}

body {
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: Noto Sans Mono, sans-serif;
  overflow-x: hidden;
  z-index: 0;
}

.btn:hover {
  cursor: pointer;
}

/* Menu Modal */

.menu-modal{
  width: 100%;
  height: 100%;
  background-color: #000000be;
  backdrop-filter: blur(7px);
  position: fixed;
  z-index: 100;
  overflow-y: scroll;
  padding-top: 200px;
  display: none;
}

.modal-container{
  display: flex;
  justify-content: space-between;
}

.navigations{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
  font-size: 25px;
  line-height: 200%;
}

.left-menu{
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  width: 500px;
}

.top-container{
  height: 400px;
  background-color: #363738;
  border-radius: 10px;
  padding: 50px;
}

.top-title{
  font-size: 25px;
}

.top-subtitle{
  margin: 10px 0;
}

.modal-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 150px;
}

.modal-btn{
  width: 100%;
  padding: 15px;
  font-weight: 700;
}

.login{
  background-color: #28eea7;
}

.bottom-container{
  background-color: #31b7f0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.bottom-title{
  font-weight: 800;
}

.bottom-container-desc{
  margin-top: 15px;
  font-size: 12px;
  font-weight: lighter;
}

.modal-hr-img{
  width: 100px;
}

/* Header Section */

.header {
  margin: 0 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 70px;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 10;
}

.header img {
  width: 180px;
}

.header img:hover {
  cursor: pointer;
}

.menu-btn {
  background-color: #363738;
  color: white;
  font-size: 25px;
  padding: 7px;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
}

/* Intro Section */

.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.intro-sec {
  background-size: cover;
  padding: 15% 5%;
}

.intro-left {
  background-image: url("../assets/img-1.png");
  text-align: right;
  margin-left: auto;
  position: relative;
}

.after-element{
  background-color: #2ae29ee3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 10;
}

.intro-title {
  display: inline-block;
  background-color: #363738;
  margin-left: 0;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
}

.intro-title-right {
  background-color: white;
  color: #363738;
}

.intro-subtitle {
  font-size: 35px;
  font-weight: 900;
  margin-top: 10px;
}

.cursor{
  display: inline-block;
  margin-left: 5px;
  animation: blink 1s infinite;
}

.typing{
  animation: none;
}

@keyframes blink {
  0%  { color: white; }
  50% { color: transparent; }
  100%  { color: white;}
}

.intro-desc {
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-top: 30px;
}

.intro-description-right {
  margin-right: 10%;
}

.intro-description-left {
  text-align: right;
  margin-left: 5%;
  color: black;
}

.intro-right {
  background-image: url("../assets/img-2.png");
  position: relative;
}

.intro-right::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-btn {
  padding: 15px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #363738;
}

.intro-left-btn {
  background-color: #363738;
  color: white;
}

/* Video Section */

.video-container {
  height: 120vh;
  background-color: #f1f2f3;
  position: relative;
}

.section-header {
  display: flex;
  align-items: center;
  color: #363738;
  padding: 50px 80px;
  font-size: 25px;
  font-weight: 900;
}

.arrow {
  color: #28eea7;
  margin-right: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.section-header-left {
  display: flex;
  align-items: center;
}

.dots {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #363738;
  display: flex;
  flex-direction: row;
}

.gray-dot {
  background-color: rgba(128, 128, 128, 0.308);
}

.green-dot {
  background-color: #28eea7;
}

.video {
  width: 100%;
  height: 90%;
  text-align: center;
  padding-top: 20px;
}

iframe {
  width: 90%;
  height: 80%;
  border: 10px #28eea7 solid;
  border-radius: 10px;
}

/* MilesTones Section */

.milestones-section {
  background-color: white;
}

.milestone-container {
  background-color: #f1f2f3;
  color: #363738;
  padding: 50px;
  border-radius: 10px;
  margin: 10px 10px 10px 80px;
}

.milestone-title {
  font-size: 60px;
  font-weight: 900;
}

.percentage {
  font-size: 100px;
}

.milestone-subtitle {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.milestone-big {
  width: 50%;
}

.milestone-small {
  display: inline-block;
  margin: 0;
  max-width: 40%;
}

.milestones-container {
  display: flex;
}

.milestone-container-right {
  max-width: 50%;
}

.milestone-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Programs Section */

.programs-section {
  background-color: #ffc635;
  height: 120vh;
}

.programs-container {
  /* padding-left: 80px; */
  padding-left: 8%;
}

.programs-filters {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 15px;
  color: #363738;
  font-weight: 900;
}

.filter {
  cursor: pointer;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.selected-filter {
  background-color: #363738;
  color: #ffc635;
}

.program-details {
  background-color: #363738;
  border-radius: 0 10px 10px 10px;
  /* margin-right: 80px; */
  margin-right: 10%;
  padding: 40px;
}

.prog-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.prog-desc {
  font-weight: 500;
  /* padding-right: 50px; */
  padding-right: 5%;
}

.yellow-text {
  color: #ffc635;
}

.green-text {
  color: #28eea7;
}

.purple-text {
  color: #9864da;
}

.pink-text {
  color: #fb508e;
}

.yellow-background {
  background-color: #ffc635;
}

.green-background {
  background-color: #28eea7;
}

.purple-background {
  background-color: #9864da;
}

.pink-background {
  background-color: #fb508e;
}

.prog-details-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-wrapper {
  display: flex;
}

.prog-btns {
  /* margin-top: 50px; */
  margin-top: 5%;
  display: flex;
  width: 100%;
}

.prog-btn {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.226);
  padding: 10px;
  margin-right: 10px;
}

.learn-more {
  text-align: right;
}

.prog-img {
  width: 300px;
}

/* Hire Section */

.hire-section {
  height: 120vh;
  background-color: #363738;
}

.white-title {
  color: #f1f2f3;
}

.hire-section .black-dot {
  background-color: white;
}

.hire-section .gray-dot {
  background-color: gray;
}

.hire-container {
  background-color: #232323;
  width: 90%;
  border-radius: 10px;
  padding: 40px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hire-cont-title {
  font-size: 20px;
  font-weight: 800;
}

.hire-subtitle {
  background-color: #363738;
  display: inline-block;
  padding: 15px;
  margin: 20px 0;
}

.colored-green {
  color: #28eea7;
  font-weight: 800;
}

.hire-description {
  color: #f1f2f3;
  font-weight: lighter;
  margin-left: 10px;
}

.hire-q {
  margin: 15px 0;
}

.hire-btn {
  width: 100%;
  text-align: right;
  background-color: #363738;
  color: #f1f2f3;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}

.hr-img {
  width: 150px;
}

/* Testimonials Section */

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testimonials-section {
  height: 120vh;
}

.testimonial-container {
  background-color: #363738;
  width: 80%;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex: 0 0 100%;
}

.testimonial-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 80%;
}

.testimonial-right img {
  width: 100%;
  height: 100%;
}

.testimonial-person {
  display: flex;
  align-items: center;
}

.person-img {
  border-radius: 50%;
  width: 50px;
}

.person-big {
  border-radius: 10px;
  width: 400px;
}

.nav-dots {
  display: flex;
  gap: 40px;
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

/* FAQs Section */

.faqs-section {
  background-color: #363738;
}

.question {
  background-color: #232323;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.question-description {
  /* display: none; */
}

.link {
  text-decoration: none;
  color: #f1f2f3a4;
  text-align: right;
  margin-bottom: 50px;
}

.link:hover{
  color: white;
}

/* Partners Section */

.partners-section {
  height: 80vh;
}

.partner-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.partner-img {
  width: 100px;
  height: 100px;
  flex: 1;
}

.partner {
  object-fit: contain;
}

.visible{
  display: block;
}

.hidden{
  display: none;
}

/* Subscribe Section */

.subscribe-section {
  background-color: #363738;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 30vh;
}

.subscribe-title {
  font-size: 25px;
  font-weight: 700;
}

.subscribe-subtitle {
  font-size: 20px;
  font-weight: lighter;
}

.subscribe-right {
  display: flex;
}

.email-input {
  padding: 15px;
}

.submit-email {
  padding: 10px;
  background-color: #232323;
  color: #f1f2f3;
  font-size: 20px;
  font-weight: 700;
}

/* Footer Section */

footer {
  height: 70vh;
  background-color: #232323;
  padding: 5%;
}

.top-footer {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

.nav-columns {
  display: flex;
  gap: 100px;
  color: #a4a2a2;
}

.nav-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.col2 {
  margin-top: 60px;
}

.nav {
  margin-bottom: 10px;
}

.footer-left {
  text-align: right;
}

.footer-img {
  width: 100px;
  margin-bottom: 20px;
}

.fa-brands {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(172, 169, 169);
  color: black;
  padding: 7px;
  border-radius: 10px;
}

.fa-brands:hover {
  background-color: white;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.privacy-btn {
  color: #a4a2a2;
}

.privacy-btn:hover {
  color: white;
}

@media screen and (max-width: 1000px) {
  /* Menu Modal */

  .navigations{
    margin: 0 0 0 100px;
    line-height: 200%;
  }

  .top-container{
    width: 400px;
    height: 100%;
  }

  .modal-btns{
    margin-top: 50px;
  }
  
  .header {
    top: 40px;
  }

  .intro {
    height: 100%;
    flex-direction: column;
  }

  .intro-sec {
    padding: 15%;
  }

  /* Video */

  .video-container {
    height: 100%;
    padding-bottom: 5%;
  }

  iframe {
    width: 90%;
    height: 50vw;
    border: 10px #28eea7 solid;
    border-radius: 10px;
  }

  .milestones-container {
    flex-direction: column;
  }

  .milestone-big {
    width: 80%;
  }

  .milestone-row {
    width: 100vw;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* Programs Section */

  .programs-section {
    height: 100%;
    padding-bottom: 10%;
  }

  .prog-img {
    width: 200px;
    width: 100%;
    height: 100%;
  }

  .prog-btns {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 5%;
  }

  .details-wrapper{
    flex-direction: column;
    align-items: center;
  }

  /* Hire Section */

  .hire-section {
    height: 100%;
    padding-bottom: 10%;
  }

  .flex-container {
    flex-direction: column;
    gap: 20px;
  }

  /* Testimonials Section */

  .testimonials-section {
    height: 80vh;
  }

  .testimonial-container {
    height: 450px;
  }

  .person-big {
    width: 200px;
    height: 90%;
  }

  /* Partners Section */

  .partners-section {
    height: 100%;
    padding-bottom: 5%;
  }

  .partner-row {
    justify-content: center;
    gap: 10px;
    margin-left: 12%;
  }

  .partner {
    flex-basis: 30%; 
    justify-content: center; 
  }

  /* Subscribe Section */

  .subscribe-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 7%;
  }

  .subscribe-right {
    padding-top: 40px;
  }

  /* Footer */

  footer {
    height: 100%;
  }

  .nav-columns {
    display: flex;
    gap: 20px;
    color: #a4a2a2;
  }
}

@media screen and (max-width: 480px) {
  
  /* Menu Modal */

  .modal-container{
    flex-direction: column;
    align-items: center;
  }

  .navigations{
    margin: 0;
    align-items: center;
  }

  .left-menu{
    width: 100px;
    align-items: center;
  }

  .header {
    top: 10px;
    margin: 0;
    justify-content: space-between;
    right: 10px;
    left: 10px;
  }

  .intro-subtitle{
    font-size: 23px;
  }

  .section-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Video Section */

  .video-container {
    height: 40vh;
  }

  /* Milestones Section */
  .milestone-container {
    padding: 10px;
    margin: 0;
  }

  .milestone-title {
    font-size: 30px;
  }

  .milestone-subtitle {
    font-size: 20px;
  }

  .milestone-big {
    margin-left: 45px;
  }

  /* Programs Section */

  .programs-container {
    padding: 10px;
  }

  .prog-title {
    font-size: 20px;
  }

  .program-details {
    font-size: 12px;
    width: 100%;
    padding: 10px;
  }

  .details-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prog-img {
    width: 85%;
    margin-top: 10px;
  }

  .prog-right {
    text-align: center;
  }

  /* Testimonials Section */

  .testimonials-section{
    height: 100%;
    overflow: hidden;
    padding-bottom: 10%;
  }
  .testimonial-container {
    height: 100%;
    flex-direction: column;
  }

  /* Partners Section */

  .partners-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
  }

  .partner-row {
    margin: 0 auto;
  }

  .partner-img {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .partner-row {
    max-width: 300px;
  }

  /* Subscribe Section */

  .subscribe-section {
    height: 30vh;
  }

  .subscribe-title {
    font-size: 18px;
  }

  .subscribe-subtitle {
    font-size: 15px;
  }

  .subscribe-right {
    flex-direction: column;
    width: 100%;
  }

  .submit-email {
    text-align: right;
  }

  /* Footer */

  footer {
    padding: 20px;
    height: 70vh;
  }

  .top-footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-left {
    text-align: center;
    margin: 20px auto;
  }
}